<main>
    <section id="carrossel" class="banner banner-spider">
        <div class="container posicionamento-banner">
            <div class="conteudo-banner">
                <h1>Playstation</h1>
                <p>Os melhores jogos do mundo</p>
                <a routerLink="/login">Inscreva-se</a>
            </div>
        </div>
    </section>

    <section class="ofertas">
        <div class="container">
            <h2>Os Melhores Consoles</h2>
            <div class="espaco-produtos-consoles">
                <div class="cardnews-consoles">
                    <img src="/assets/imagens/Play1-removebg-preview.png" alt="Foto do console 1">
                    <div class="texto-card-consoles">
                        <h3>Playstation 1</h3>
                        <p>clássico</p>
                        <p class="preco">R$4500,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-consoles">
                    <img src="/assets/imagens/Play2-removebg-preview.png" alt="Foto do console 2">
                    <div class="texto-card-consoles">
                        <h3>Playstation 2</h3>
                        <p>clássico</p>
                        <p class="preco">R$3250,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-consoles">
                    <img src="/assets/imagens/Play3-removebg-preview.png" alt="Foto do console 3">
                    <div class="texto-card-consoles">
                        <h3>Playstation 3</h3>
                        <p>clássico</p>
                        <p class="preco">R$2850,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-consoles">
                    <img src="/assets/imagens/Play4-removebg-preview.png" alt="Foto do console 4">
                    <div class="texto-card-consoles">
                        <h3>Playstation 4</h3>
                        <p>clássico</p>
                        <p class="preco">R$2850,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-consoles">
                    <img id="imagem-ps4-pro" src="/assets/imagens/Play4Pro-removebg-preview.png" alt="Foto do console 5">
                    <div class="texto-card-consoles">
                        <h3>Playstation 4</h3>
                        <p>PRO</p>
                        <p class="preco">R$3255,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-consoles">
                    <img id="imagem-ps5"src="/assets/imagens/Play5-removebg-preview.png" alt="Foto do console 6">
                    <div class="texto-card-consoles">
                        <h3>Playstation 5</h3>
                        <p>Console do ano</p>
                        <p class="preco">R$6500,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-consoles">
                    <img id="imagem-psvita" src="/assets/imagens/PSVita-removebg-preview.png" alt="Foto do console 7">
                    <div class="texto-card-consoles">
                        <h3>Playstation Vita</h3>
                        <p>Portátil/desbloqueado</p>
                        <p class="preco">R$1250,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-consoles">
                    <img src="/assets/imagens/psp.png" alt="Foto do console 8">
                    <div class="texto-card-consoles">
                        <h3>Playstation PSP</h3>
                        <p>Portátil/desbloqueado</p>
                        <p class="preco">R$1100,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="secao-sobre-consoles">
        <div class="container conteudo-sobre">
            <div class="texto-sobre">
                <h2>Elden Ring</h2>
                <p>Elden Ring é um jogo eletrônico de RPG de ação jogado de uma perspectiva em terceira pessoa e
                    apresenta
                    elementos semelhantes aos encontrados em seus antecessores, a série Souls, além de Bloodborne e
                    Sekiro:
                    Shadows Die Twice, com uma jogabilidade focada em combate e exploração. O diretor Hidetaka
                    Miyazaki
                    explicou que os jogadores começam em um ambiente linear, mas eventualmente progridem para
                    explorar
                    livremente as Terras Intermédias, incluindo suas seis áreas principais, bem como castelos,
                    fortalezas
                    e catacumbas espalhadas pelo vasto mapa de mundo aberto. Essas áreas principais são
                    interconectadas
                    através de um ponto central no qual os jogadores podem acessar mais tarde conforme progridem no
                    jogo —
                    semelhante ao Santuário do Enlace de Fogo de Dark Souls — e serão exploráveis usando a montaria
                    do
                    personagem como o principal meio de transporte, embora um sistema de viagem rápida seja uma
                    opção
                    disponível. Ao longo do jogo, os jogadores encontram personagens não-jogáveis (NPCs) e inimigos,
                    incluindo os semideuses que governam cada área principal e servirão como os chefes principais do
                    jogo.
                    O combate em Elden Ring depende muito de elementos de construção de personagens encontrados em
                    títulos
                    anteriores da série Souls e propriedades intelectuais relacionadas, como combate corpo a corpo
                    calculado e de curto alcance com o uso de habilidades e magias, bem como mecânicas de bloqueio e
                    esquiva. Elden Ring apresenta um combate montado e um sistema de furtividade, sendo este último
                    um
                    elemento central da jogabilidade de Sekiro; esses recursos fazem com que o jogador seja
                    encorajado
                    na estratégia de sua abordagem de combate com cada inimigo único que encontrar. O jogo faz uso
                    de
                    uma barra de resistência do personagem do jogador, depois de estar ausente em Sekiro, embora sua
                    influência geral sobre o combate tenha sido reduzida em comparação com títulos anteriores que o
                    utilizaram. Ao contrário de Sekiro, a mecânica de ressurreição após a morte no jogo não está
                    disponível; no entanto, alguns elementos foram adicionados para garantir a progressão dos
                    jogadores.
                    Miyazaki afirmou que a personalização em Elden Ring seria mais rica, pois os jogadores podem
                    descobrir
                    diferentes habilidades através da exploração do mapa, em vez de desbloquear árvores de
                    habilidades
                    como em Sekiro e diferir das habilidades de armas pré-fixadas dos jogos anteriores da
                    FromSoftware.
                    Essas habilidades são intercambiáveis com uma grande variedade de armas que, juntamente com
                    equipamentos, habilidades mágicas e itens que os jogadores podem criar usando materiais
                    encontrados
                    no mundo, podem ser usados para personalizar o personagem do jogador. O jogo também conta
                    com
                    uma mecânica de convocação, onde os jogadores podem convocar uma grande variedade de espíritos
                    colecionáveis escondidos em todo o mapa do mundo do jogo, incluindo inimigos derrotados
                    anteriormente, como aliados para ajudá-los na batalha. Semelhante à série Souls, o multijogador
                    do jogo permite que outros jogadores sejam convocados para um modo cooperativo.
            </div>
            <!-- <img src="/assets/imagens/gerald-removebg-preview.png" alt="Gerald de Rivia"> -->

        </div>
    </section>
</main>
