<header>
    <div class="container cabecalho">
        <a routerLink="/home"><img class="logo" src="/assets/imagens/logo.png" alt="logo GAMERZONE"></a>
        <nav id="menu" class="menu">
            <a routerLink="/home" target="_blank">Inicio</a>
            <a routerLink="/login" target="_blank">Login</a>
            <a routerLink="/consoles" target="_blank">Consoles</a>
            <a routerLink="/jogos" target="_blank">Jogos</a>
            <a routerLink="/noticias" target="_blank">Notícias</a>
        </nav>

        <!-- <a href="#" id="barras"><img class="icone-menu" src="img/bars.svg" alt="Ícone do menu de barras"></a> -->
    </div>
</header>