
<main>

    <section id="carrossel" class="banner banner-spider">
        <div class="container posicionamento-banner">
            <div class="conteudo-banner">
                <h1>Playstation</h1>
                <p>Os melhores jogos do mundo</p>
                <a href="login.html">Inscreva-se</a>
            </div>
        </div>
    </section>


    <section class="ofertas">
        <div class="container">
            <h2>Noticias</h2>
            <div class="espaco-produtos">
                <div class="cardnews">
                    <img src="/assets/imagens/Play1-removebg-preview.png" alt="Foto Ps1">
                    <div class="texto-card">
                        <h3>Playstation 1</h3>
                        <p>O PlayStation, oficialmente abreviado PS, comumente chamado de PlayStation 1 ou PS1)
                            foi o primeiro console de videogame fabricado pela Sony, lançado em 3 de dezembro
                            de 1994 no Japão, 9 de setembro de 1995 nos Estados Unidos e em 29 de setembro
                            de 1995 na Europa.</p>
                        <p> O desenvolvimento do console começou após uma parceria fracassada com a Nintendo de
                            desenvolver um CD-ROM para seu console Super Nintendo no início dos anos 1990. A
                            produção de jogos para o console foi projetada para ser simplificada e inclusiva,
                            trazendo o suporte de muitas desenvolvedoras terceiras. Em julho de 2000, uma versão
                            melhorada e mais fina chamada de PS One foi lançada, substituindo o console cinza
                            original e nomeado apropriadamente para evitar confusão com seu sucessor, o PlayStation
                            2.</p>

                    </div>
                </div>
                <div class="cardnews">
                    <img src="/assets/imagens/Play2-removebg-preview.png" alt="Foto Ps2">
                    <div class="texto-card">
                        <h3>Playstation 2</h3>
                        <p>O PlayStation 2 (oficialmente abreviado como PS2) é um console de jogos eletrônicos
                            produzido pela Sony Computer Entertainment. Foi lançado no dia 4 de março de 2000 no
                            Japão, no dia 26 de outubro na América do Norte, e posteriormente, no dia 24 de novembro
                            na Europa. É o sucessor do PlayStation original. O PlayStation 2 é um console de sexta
                            geração, que competiu com o Dreamcast da Sega, o GameCube da Nintendo e o Xbox da
                            Microsoft.</p>
                        <p>Devido à imensa popularidade em todo o mundo, o console, assim como seus jogos,
                            continuaram a ser fabricados mesmo após o lançamento do seu sucessor, o PlayStation 3.
                            Somente depois de 13 anos do seu lançamento, perto do anúncio do lançamento do
                            PlayStation 4, que o jornal japonês Asahi Shimbun anunciou o encerramento da fabricação
                            do console no Japão no dia 30 de dezembro de 2012. E no dia 4 de janeiro de 2013, o
                            jornal britânico The Guardian anunciou que a Sony encerrou a produção dos consoles
                            PlayStation 2 no mundo inteiro.
                            O PS2 é o console de videogame mais vendido de todos os tempos.</p>

                    </div>
                </div>
                <div class="cardnews">
                    <img src="/assets/imagens/Play3-removebg-preview.png" alt="Foto Ps3">
                    <div class="texto-card">
                        <h3>Playstation 3</h3>
                        <p>O PlayStation 3 (PS3) é um console de videogames desenvolvido pela Sony Computer
                            Entertainment. É o sucessor do PlayStation 2 e faz parte da marca PlayStation de
                            consoles. Foi lançado em 11 de novembro de 2006, no Japão, 17 de novembro de 2006 na
                            América do Norte e em 23 de março de 2007 na Europa e Oceania. O PlayStation 3 competiu
                            com o console Xbox 360 da Microsoft e o Wii da Nintendo como parte da sétima geração de
                            consoles de videogames.</p>
                        <p>O console foi anunciado oficialmente pela primeira vez na edição de 2005 da E3 e foi
                            lançado no final de 2006. Foi o primeiro console a usar o disco Blu-ray como formato de
                            mídia para gravação de jogos, seu meio de armazenamento primário. Foi o primeiro
                            console da Sony a ter um Sistema On-line a PSN, a PlayStation Network, e a sua
                            conectividade remota com o PlayStation Portable e PlayStation Vita, sendo capaz de
                            controlar remotamente os dispositivos. Em setembro de 2009, o modelo Slim do PlayStation
                            3 foi lançado. Foi removida a capacidade de hardware para executar os jogos do
                            PlayStation 2. Era mais leve e mais fino do que a versão original, e apresentava um
                            logotipo redesenhado e design de marketing, bem como uma pequena mudança de start-up no
                            software. Um novo modelo denominado Super Slim foi lançado no final de 2012, refinando e
                            redesenhando o console.</p>
                    </div>
                </div>
                <div class="cardnews">
                    <img src="/assets/imagens/Play4-removebg-preview.png" alt="Foto Ps4">
                    <div class="texto-card">
                        <h3>Playstation 4</h3>
                        <p>A PlayStation 4, oficialmente abreviada como PS4) é um console de videojogos, da oitava
                            geração com arquitetura x86, produzida pela empresa Sony Interactive Entertainment e
                            lançada em Novembro de 2013, como a quarta edição da série PlayStation, sucessor do
                            PlayStation 3, competindo directamente com a Wii U da Nintendo e, com a Xbox One da
                            Microsoft.

                            Foi anunciada em Fevereiro de 2013 durante uma conferência de imprensa da Sony em Nova
                            Iorque, no evento "PlayStation Meeting 2013" cujo tema foi "O Futuro da PlayStation".
                            Foi lançada na América do Norte a 15 de Novembro de 2013, na Europa e América do Sul a
                            29 de Novembro de 2013 e no Japão a 22 de Fevereiro de 2014. A PlayStation 4 é a
                            primeira consola da Sony a ser oficialmente e legalmente editada na China desde a
                            PlayStation 2, depois do levantamento da proibição que durou 14 anos</p>
                        <p>Afastando-se da arquitectura Cell da sua antecessora, a PlayStation 4 é a primeira da
                            série da Sony que apresenta arquitectura x86, mais especificamente com a Unidade de
                            Processamento Acelerado (UPA) AMD x86-64, uma plataforma amplamente usada e comum em
                            muitos dos microcomputadores modernos. A ideia é fazer com que o desenvolvimento de
                            jogos eletrónicos seja mais fácil para a consola, atraindo uma ampla gama de grandes e
                            pequenos produtores. Estas mudanças destacam o esforço da Sony para melhorar as lições
                            aprendidas durante o desenvolvimento, produção e lançamento da PlayStation 3. Outros
                            recursos de hardware notáveis da PlayStation 4 incluem 8GB GDDR5 de memória, um leitor
                            Blu-ray mais rápido e um GPU que consegue um desempenho de 1.843 TFLOPS/s. Em conversa
                            para a revista Edge, vários produtores de videojogos descrevem a diferença de desempenho
                            entre a PlayStation 4 e a Xbox One como "'significativa' e 'óbvia'".</p>
                    </div>
                </div>
                <div class="cardnews">
                    <img id="ps5noticias" src="/assets/imagens/Play5-removebg-preview.png" alt="Foto Ps5">
                    <div class="texto-card">
                        <h3>Playstation 5</h3>
                        <p>O PlayStation 5 (oficialmente abreviado como PS5) é um console de jogos eletrônicos de
                            nona geração, desenvolvido pela Sony Interactive Entertainment. Foi anunciado em outubro
                            de 2018 e confirmado em outubro de 2019 como o quinto da série PlayStation e sucessor do 
                            PlayStation 4. O console foi lançado em 12 de novembro de 2020 na América do Norte, Austrália, 
                            Coreia do Sul, Japão, Nova Zelândia e Singapura. E em 11 de dezembro de 2020 foi lançado nas 
                            Filipinas. 19 de novembro para o resto do mundo. A plataforma foi lançada em duas versões, 
                            um sistema com entrada para disco óptico compatível com Blu-ray Ultra HD para suporte a jogos 
                            lançados em mídia física ou baixados através da PlayStation Store e uma versão digital de 
                            menor custo sem a unidade de disco, utilizando apenas o download digital.</p>
                        <p>O PlayStation 5 possui uma unidade de estado sólido personalizada projetada para a
                            leitura de dados de alta velocidade para permitir melhorias significativas no desempenho
                            gráfico. O hardware também possui uma GPU AMD personalizada capaz de fornecer suporte a
                            Ray-tracing, displays de resolução 4K e até 120 quadros por segundo, um novo hardware de
                            áudio para efeitos de áudio 3D em tempo real e retrocompatibilidade com a maioria dos
                            jogos do PlayStation 4 e PlayStation VR.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="secao-sobre-noticias">
        <div class="container conteudo-sobre">
            <div class="texto-sobre">
                <h2>Horizon Zero Dawn</h2>
                <p>Horizon Zero Dawn é um RPG eletrônico de ação em que os jogadores controlam a protagonista Aloy,
                    uma
                    caçadora e arqueira, em um cenário futurista, um mundo aberto pós-apocalíptico dominado por
                    criaturas mecanizadas como robôs dinossauros. Os componentes destas criaturas, como a
                    electricidade
                    e o metal, são vitais para a sobrevivência de Aloy, sendo necessário ela revistar os cadáveres
                    destas
                    criaturas em busca de recursos. Os jogadores têm várias formas de matar os inimigos, como criar
                    armadilhas, usar armas de longo alcance como setas, utilizando explosivos, combate corpo a
                    corpo,
                    ou fazendo mortes silenciosas. O combate divide-se assim em três estilos distintos; um usa
                    tácticas
                    furtivas, um outro mais orientado para o poder de fogo do jogador e um último focado na criação
                    de
                    armadilhas. Também existe a possibilidade de criar novos itens através de materiais e partes
                    mecânicas espalhadas pelo mundo. Através de um sistema de "regalias", o jogador pode
                    personalizar
                    o seu personagem para melhorá-lo de acordo com o seu estilo ou forma de jogar. Uma árvore de
                    habilidades fornece ao jogador novas habilidades e bônus.
                    O mundo aberto pode ser explorado pelos jogadores quando não estão a completar missões.
                    Horizon: Zero Dawn inclui um sistema dinâmico de clima e um ciclo dia-noite. Não possui
                    tutorial,
                    para encorajar os jogadores a aprender a derrotar os inimigos através do método de "tentativa e
                    erro". A Guerrilla Games referiu que o jogo não tem telas de carregamento.</p>
                <p>Horizon Zero Dawn acontece a mil anos no futuro em um mundo pós-apocalíptico onde criaturas
                    mecanizadas colossais dominaram o mundo, e vagam em uma paisagem fora do controle da humanidade.
                    Ao longo do tempo, a evolução humana regrediu até uma sociedade tribal de caçadores e coletores
                    que sobrevive por entre florestas imensas, cordilheiras imponentes e as ruínas atmosféricas de
                    uma civilização antiga – enquanto as máquinas selvagens se tornaram cada vez mais poderosas e
                    agressivas. O jogador controla Aloy, uma caçadora que utiliza a velocidade, esperteza e
                    agilidade
                    para permanecer viva e proteger sua tribo contra a força, o tamanho e o poder bruto das
                    máquinas. </p>

            </div>
            <!-- <img src="imagens/gerald-removebg-preview.png" alt="Gerald de Rivia"> -->
        </div>
    </section>
</main>
