<main>


    <section id="carrossel" class="banner banner-spider">
        <div class="container posicionamento-banner">
            <div class="conteudo-banner">
                <h1>Playstation</h1>
                <p>Os melhores jogos do mundo</p>
                <a href="login.html">Inscreva-se</a>
            </div>
        </div>
    </section>

    <section class="ofertas">
        <div class="container">
            <h2>Os melhores games estão aqui</h2>
            <div class="espaco-produtos-jogos">
                <div class="cardnews-jogos">
                    <img src="/assets/imagens/Call of Duty.jpg" alt="Foto do jogo 1">
                    <div class="texto-card-jogos">
                        <h3>Call of Duty Black Ops 3</h3>
                        <p class="preco">R$50,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-jogos">
                    <img src="/assets/imagens/Cyberpunk 2077.jpg" alt="Foto do jogo 2">
                    <div class="texto-card-jogos">
                        <h3>Cyberpunk 2077</h3>
                        <p class="preco">R$250,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-jogos">
                    <img src="/assets/imagens/Grand Theft Auto V.jpg" alt="Foto do jogo 3">
                    <div class="texto-card-jogos">
                        <h3>GTA V</h3>
                        <p class="preco">R$180,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-jogos">
                    <img src="/assets/imagens/Devil May Cry5.png" alt="Foto do jogo 4">
                    <div class="texto-card-jogos">
                        <h3>Devil May Cry 5</h3>
                        <p class="preco">R$80,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-jogos">
                    <img src="/assets/imagens/Final Fantasy VII Remake.jpg" alt="Foto do jogo 5">
                    <div class="texto-card-jogos">
                        <h3>Final Fantasy VII Remake</h3>
                        <p class="preco">R$155,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-jogos">
                    <img src="/assets/imagens/Horizon Zero Dawn (2).jpg" alt="Foto do jogo 6">
                    <div class="texto-card-jogos">
                        <h3>Horizon Zero Dawn</h3>
                        <p class="preco">R$60,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-jogos">
                    <img src="/assets/imagens/fortiniti.jpg" alt="Foto do jogo 7">
                    <div class="texto-card-jogos">
                        <h3>Fortiniti</h3>
                        <p class="preco">R$150,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-jogos">
                    <img src="/assets/imagens/Kingdom Hearts III.png" alt="Foto do jogo 8">
                    <div class="texto-card-jogos">
                        <h3>Kingdom Hearts III</h3>
                        <p class="preco">R$110,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-jogos">
                    <img src="/assets/imagens/imagenGhostofTsushima.jpg" alt="Foto do jogo 9">
                    <div class="texto-card-jogos">
                        <h3>Ghost of Tsushima</h3>
                        <p class="preco">R$200,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-jogos">
                    <img src="/assets/imagens/imagenRagnarökr.jpg" alt="Foto do jogo 10">
                    <div class="texto-card-jogos">
                        <h3>God of War </h3>
                        <p class="preco">R$250,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-jogos">
                    <img src="/assets/imagens/imagenSpider.jpg" alt="Foto do jogo 11">
                    <div class="texto-card-jogos">
                        <h3>Spiderman</h3>
                        <p class="preco">R$85,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-jogos">
                    <img src="/assets/imagens/download (3).jpg" alt="Foto do jogo 12">
                    <div class="texto-card-jogos">
                        <h3>Bloodborne</h3>
                        <p class="preco">R$85,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-jogos">
                    <img src="/assets/imagens/imagenSekiro.png" alt="Foto do jogo 13">
                    <div class="texto-card-jogos">
                        <h3>Sekiro</h3>
                        <p class="preco">R$95,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-jogos">
                    <img src="/assets/imagens/No mans sky.png" alt="Foto do jogo 14">
                    <div class="texto-card-jogos">
                        <h3>No Man's Sky</h3>
                        <p class="preco">R$60,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-jogos">
                    <img src="/assets/imagens/Star Wars Battlefront 2.jpg" alt="Foto do jogo 15">
                    <div class="texto-card-jogos">
                        <h3>Star Wars</h3>
                        <p class="preco">R$150,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-jogos">
                    <img src="/assets/imagens/The last of us.jpg" alt="Foto do jogo 16">
                    <div class="texto-card-jogos">
                        <h3>The Last Of US</h3>
                        <p class="preco">R$110,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-jogos">
                    <img src="/assets/imagens/The Witcher 3_ Wild Hunt.jpg" alt="Foto do jogo 17">
                    <div class="texto-card-jogos">
                        <h3>The Witcher 3</h3>
                        <p class="preco">R$150,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews-jogos">
                    <img src="/assets/imagens/DragonBallZKakarot.png" alt="Foto do jogo 18">
                    <div class="texto-card-jogos">
                        <h3>Dragon Ball Kakarot</h3>
                        <p class="preco">R$110,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="secao-sobre-jogos">
        <div class="container conteudo-sobre">
            <div class="texto-sobre">
                <h2>Dark Souls 3</h2>
                <p>Dark Souls III é um jogo do gênero RPG de ação numa perspectiva de terceira pessoa, similar aos
                    jogos anteriores da série. De acordo com o director Hidetaka Miyazaki, o desenho do jogo “é
                    muito parecido com Dark Souls II”. Os jogadores tem uma grande variedade de armas como arcos,
                    explosivos como bombas de fogo, espadas grandes e duplas, e escudos que repelem os ataques
                    inimigos, protegendo o jogador. Em adição, os ataques podem ser evitados com o dodge-rolling.
                    As fogueiras, que servem como ponto de controle intermediário, regressam para este jogo.
                    As cinzas, de acordo com Miyazaki, têm um papel importante no jogo..</p>
                <p>A Magia está incluída no jogo, assim como a barra de magia, similar a Demon's Souls. Cada ataque
                    tem
                    dois estilos diferentes: um é o padrão, enquanto que outro dá melhorias para o jogador, além de
                    ser
                    um pouco mais poderoso. Enquanto fazem milagres e feitiços, os pontos de magia dos jogadores são
                    consumidos e começam a decrescer. Para voltar a enchê-los, os jogadores têm de consumir Ash
                    Estus
                    Flask; existem dois tipos de Estus Flasks: um enche pontos de magia e o outro pontos de vida.
                    O combate e os movimentos são mais rápidos e fluidos que em Dark Souls II. Muitos dos
                    movimentos do jogador, como andar para trás e balançar armas mais pesadas, podem ser feitos de
                    uma
                    maneira mais rápida, permitindo que os jogadores façam mais ações num espaço de tempo mais
                    curto.
                    Por todo o jogo, os jogadores vão encontrar vários tipos de inimigos, com vários comportamentos
                    diferentes. Alguns alteram o padrão de ataque durante os combates. Algumas características de
                    combate são introduzidas em Dark Souls III, incluindo a Ready Stance, que são habilidades para
                    os
                    jogadores causarem muito mais dano aos inimigos que os ataques normais. São também introduzidas
                    pequenas pedras incrustadas que além de servirem como lanternas, proporcionam um papel adicional
                    no
                    jogo. Dark Souls III foca-se mais no aspecto role-playing, na qual a construção da personagem é
                    expandida e as armas são melhoradas para providenciar mais opções tácticas ao jogador. O jogo
                    tem menos mapas que Dark Souls II, mas os níveis estão interligados e são maiores para encorajar
                    a
                    exploração. As estatísticas de adaptabilidade de Dark Souls II foram removidas.</p>
            </div>
            <!-- <img src="imagens/gerald-removebg-preview.png" alt="Gerald de Rivia"> -->
        </div>
    </section>
</main>
