.banner {
    height: 710px;    
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.posicionamento-banner {
    height: 100%;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.conteudo-banner {
    width: 495px;
    height: 300px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    color: white;
}

.conteudo-banner a {
    padding: 15px;

    color: white;
    background-color: #C31616;
    border-radius: 5px;

    font-family: "Roboto";
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
}

.conteudo-banner h1 {
    font-family: "Titillium Web";
    font-weight: bold;
    font-size: 80px;
}

.conteudo-banner p {
    font-family: "Roboto";
    font-size: 25px;
}

.secao-sobre {
    background-image: url(/assets/imagens/thewitcher.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    header {
        background-color: darkblue;
    }

    .logo {
        width: 100px;
    }
}

#video {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.jogos {
    height: 520px;
    padding-bottom: 200px;
    padding-left: 80px;
    background-image: url(/assets/imagens/fundo.jpg);
    
    padding-top: 10px;
    vertical-align: center;
    text-align: center;
        
}

.posicionamento-jogos {
    height: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.posicionamento-jogos img {
    width: 500px;
    justify-content: center;
}

.ofertas {
    background-image: url(/assets/imagens/fundo.jpg);
    padding-top: 30px;
}

.ofertas h2 {
    font-family: 'Roboto';
    color: #fff;
    font-size: 27px;
}

.espaco-produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

/* -------------------- */


.espaco-produtos-jogos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.cardnews-jogos {
    width: 300px;
    height:20em;
    background: linear-gradient(180deg, rgba(83, 83, 83, 0.5) 0%, #000000 100%);
    color: #fff;
    margin-bottom: 2em;
    box-shadow: 0px 0px 10px rgb(0, 0, 0),0px 0px 30px rgb(0, 0, 0);
}

.cardnews-jogos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cardnews-jogos img {
    width: 100%;
}

.texto-card-jogos {
    width: 85%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.texto-card h3, .texto-card p {
    margin: 0;
}

.cardnews-jogos h3{
    font-size: 20px;
    font-weight: 600;
}

.cardnews-jogos .preco {
    font-size: 24px;
    font-weight: 600;
}

.cardnews-jogos a {
    width: 100%;
    height: 35px;
    text-align: center;
    line-height: 2;
    
    background-color: #C31616;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

/* ------------------------- */

.ofertas h2 {
    font-family: 'Roboto';
    color: #fff;
    font-size: 30px;
}

.espaco-produtos-consoles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.cardnews-consoles {
    width: 500px;
    height: 25em;
    background: linear-gradient(180deg, rgba(83, 83, 83, 0.5) 0%, #000000 100%);
    color: #fff;
    margin-bottom: 10em;
    box-shadow: 0px 0px 10px rgb(0, 0, 0),0px 0px 30px rgb(0, 0, 0);
}

.cardnews-consoles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cardnews-consoles img {
    width: 90%;
}

#imagem-ps4-pro {
    width: 45%;
}

#imagem-ps5 {
    width: 45%;
}



.texto-card-consoles {
    width: 65%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.texto-card h3, .texto-card p {
    margin: 0;
}

.cardnews-consoles h3{
    font-size: 20px;
    font-weight: 600;
}

.cardnews-consoles .preco {
    font-size: 24px;
    font-weight: 600;
}

.cardnews-consoles a {
    width: 100%;
    height: 35px;
    text-align: center;
    line-height: 2;
    
    background-color: #C31616;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

/* ---------------------------- */

.cardnews{
    width: 100em;
    height:60em;
    background: linear-gradient(180deg, rgba(83, 83, 83, 0.5) 0%, #000000 100%);
    color: #fff;
    margin-bottom: 2em;
    box-shadow: 0px 0px 10px rgb(0, 0, 0),0px 0px 30px rgb(0, 0, 0);
}

.cardnews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cardnews img {
    width:70%;
}
#ps5noticias{
    width: 40%;
}

.texto-card {
    width: 85%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.texto-card h3, .texto-card p {
    margin: 0;
}

.cardnews h3{
    font-size: 24px;
    font-weight: 600;
}

.cardnews .preco {
    font-size: 24px;
    font-weight: 600;
}

.cardnews a {
    width: 100%;
    height: 35px;
    text-align: center;
    line-height: 2;
    
    background-color: #C31616;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.secao-sobre-consoles{
    background-image: url(/assets/imagens/imagenEldenRing.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.secao-sobre-noticias-1{
    background-image: url(/assets/imagens/imagenRagnarökr.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.secao-sobre-noticias-2{
    background-image: url(/assets/imagens/Console\ PS5\ .jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.secao-sobre-noticias-3{
    background-image: url(/assets/imagens/imagenSekiro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.secao-sobre-noticias-4{
    background-image: url(/assets/imagens/imagenSpider.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.secao-sobre-login {
    background-image: url(/assets/imagens/Final\ Fantasy\ 7\ Remake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.conteudo-sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto-sobre {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.texto-sobre h2 {
    margin-bottom: 2rem;
}

